Задание 1  
Завершаем практическое задание №2. Необходимо для каждой распознанной фамилии вывести на экран наиболее подходящий вариант из стартового протокола

In [1]:
import Levenshtein

In [2]:
claim_list = [
    'Шехавцова Анна',
    'Гречихина Наталья',
    'Козлова Алена',
    'Груздева Алина',
    'Кущенко Анна',
    'Чистякова Анастасия'
]

In [3]:
speech_recognition = [
    'кучменко она',
    'кущенко оксана',
    'груздь алина',
    'рычихина наталья',
    'шиховцева на',
    'чистова анастасия'
]

In [20]:
for i in speech_recognition:
    for j in claim_list:
        if Levenshtein.distance(i, j) <= 6:
            print(f'{i} -> {j}')

кучменко она -> Кущенко Анна
кущенко оксана -> Кущенко Анна
груздь алина -> Груздева Алина
рычихина наталья -> Гречихина Наталья
шиховцева на -> Шехавцова Анна
чистова анастасия -> Чистякова Анастасия

Постройте модель kNN для распознавания цифр. Посчитайте получившееся значение точности (последняя строка в файле 7. kNN digits.ipynb)

In [21]:
import pandas as pd

In [32]:
data_train = pd.read_csv('train_digits.csv')

In [33]:
data_train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
data_test = pd.read_csv('test_digits.csv')

In [35]:
data_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
data = data_train

In [38]:
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
data.shape

(42000, 785)

In [58]:
X = data.drop('label', axis=1)
y = data['label']

In [48]:
from sklearn.model_selection import train_test_split

In [59]:
(train_data, test_data, train_dig, test_dig) = train_test_split(X, y, test_size=0.25, random_state=42)

In [50]:
from sklearn.neighbors import KNeighborsClassifier

In [60]:
model = KNeighborsClassifier(n_neighbors=10)
model.fit(train_data, train_dig)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [61]:
predictions = model.predict(test_data)

In [53]:
from sklearn.metrics import classification_report

In [62]:
print(classification_report(test_dig, predictions))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98      1025
           1       0.92      1.00      0.96      1146
           2       0.99      0.93      0.96      1072
           3       0.96      0.96      0.96      1151
           4       0.98      0.96      0.97      1024
           5       0.96      0.95      0.96       898
           6       0.97      0.98      0.97      1010
           7       0.96      0.96      0.96      1135
           8       0.98      0.92      0.95      1005
           9       0.95      0.95      0.95      1034

    accuracy                           0.96     10500
   macro avg       0.96      0.96      0.96     10500
weighted avg       0.96      0.96      0.96     10500